<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title>Ajouter utilisateur</title>
</head>
<body>
    <div class="container">
        <h2><%= title %></h2>
       
        <form action="/save" method="post">
            <div class="form-group">
                <label for="name">Nom :</label>
                <input type="text" class="form-control" name="nom" id="nom" placeholder="Entrer votre nom : " required>
            </div>
            <div class="form-group">
                <label for="prenom">Prenom :</label>
                <input type="text" class="form-control" name="prenom" id="prenom" placeholder="Entrer votre prenom : " required>
            </div>
            <div class="form-group">
                <label for="mobile">Mobile :</label>
                <input type="number" class="form-control" name="number" id="number" placeholder="Entrer votre numero : " required>
            </div> <br> <br>
            <button type="submit" class="btn btn-primary">Ajouter</button>
        </form>
    </div>
</body>
</html>